<div class="weather-widget" ng-controller="WeatherCtrl as weather">
    <div class="weather-wrap {{weather.dayOrNight}}">
        <h2 class="city"> {{ weather.currentCity }} </h2>
        <div class="clock-wrap">
            <clock timezone="{{weather.timezone}}"></clock>
        </div>
        <div class="wthr-result">
            <div class="wthr-icon {{weather.iconClass}}"></div>
            <div class="wthr-descrip"> {{ weather.currentWeather }} </div>
        </div>

        <p class="temp" ng-bind="weather.currentTemp | temperature"></p>
        <form name="searchForm" ng-submit="searchForm.$valid && weather.searchByCity(weather.newCity)">
            <input type="text" placeholder="Search for a city" ng-model="weather.newCity" required>
            <button type="submit"><span class="icon-search"></span></button>
        </form>
    </div>
</div>  