$weather-wrap-height: 300;

.weather {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.day {
  // background-color: #B3E5FC;
}

.weather-wrap {
  @extend %center-block;
  width: 25%;
  height: $weather-wrap-height * 1px;
  margin-top: 2em;
  text-align: center;
  // too broad, change this
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;

  & > * {
    height: 20%;
    margin-top: 0;
    margin-bottom: 0;
  }

  form {
    display: block;
    width: 100%;
    padding: 0.5em;
    @extend %center-block;

    button {
      @include flat-button(20%, 100%);
    }
  }

  * {
    // border: 1px solid red;
  }
}

.wthr-result {
  div {
    display: inline-block;
    height: 100%;
    float: left;
    font-size: 1.5em;
  }

  .wthr-icon {
    width: 30%;
  }

  .wthr-descrip {
    width: 70%;
    line-height: ($weather-wrap-height / 5) * 1px;
    vertical-align: middle;
  }
}

.temp {
  font-size: 1.3em;
  line-height: ($weather-wrap-height / 5) * 1px;
  vertical-align: middle;
}

.city {
  font-size: 3rem;
}

.clock-wrap {
  position: relative;
}

clock {
  display: block;
  font-size: 1.3rem;
  @extend %vertical-align;
}