$color__day: rgba(0, 50, 255, 0.5);
$color__night: rgba(0, 0, 0, 0.8);
$font__base_size: 1.5;


.weather, .weather-wrap {
  display: block;
  height: 100%;
  overflow: hidden;
}

.weather-wrap {
  padding-top: 2em;
}

.weather-widget.day {
  background-color: $color__day;
}

.weather-widget.night {
  background-color: $color__night;
}

.weather-widget {
  @extend %center-block;
  min-width: 250px;
  max-width: 400px;
  width: 25%;
  padding: 0.5em;
  color: white;
  // fallback color while waiting for day/night to return
  background-color: #777;
  text-align: center;
  border-radius: 5%;
  overflow: hidden;

  & > * {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  form {
    width: 100%;
    color: #333;
    padding: 0.5em;
    @extend %center-block;

    input {
      max-width: 75%;
      outline: 0;
      border: none;
      height: 30px;

      &:focus, &:invalid {
        outline: 0;
        box-shadow: none;
      }
    }

    button {
      @include flat-button(50px, 40px);
      border-radius: 5%;
    }
  }
}

.city {
  font-size: $font__base_size * 2 * 1em;
}

clock {
  display: block;
  font-size: 1.3rem;
}

.wthr-result {
  display: inline-block;
  padding: 0;
  text-align: center;
  overflow: hidden;

  li {
    display: inline-block;
    height: 100%;
    float: left;
  }

  .wthr-icon {
    font-size: 4em;
  }

  .wthr-descrip {
    line-height: 200%;
    vertical-align: middle;
    text-align: center;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.temp, li {
  font-size: $font__base_size * 1em;
}

@media screen and (max-width: 800px) {
  //full screen widget on small screens
  .weather-wrap {
    padding: 0;
  }

  .weather-widget {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
    border-radius: 0;

    .city {
      margin-top: 1em;
    }
  }
}